
.master{
  position: relative;
  display: block;
  height: 65px;
}
.progressbar{
  transform: translateY(25px);
}
.start{
  position: absolute;
  left: 0;
}
.end{
  position: absolute;
  right: 0;
}
.current{
  position: absolute;
  left: calc(75% - 15px);
  top: 50px;
}
.fas{
  position: absolute;
  top: -8px;
  left: 4px;
}
